
@using BreadOne.Models
@using BreadOne.Services
@using Microsoft.AspNetCore.Components.Web
@inject PortfolioServiceJsonFile PortfolioService

@{
	var portfolis = PortfolioService.GetPortfolios();
}

<h2>Blazor Component 사용 출력</h2>
<div class="row gx-5">
	@if(portfolis != null)
	{
		@foreach (var portfolio in portfolis)
		{
			<div class="col-lg-6">
				<div class="position-relative mb-5">
					@*<img class="img-fluid rounded-3 mb-3" src="@portfolio.Image" alt="..." />*@
					<div class="portfolio-item-image"
					style="background-image: url('@portfolio.Image')"></div>
					<a class="h3 fw-bolder text-decoration-none link-dark" href="#!">@portfolio.Title</a>
					<p class="lead fw-normal text-muted mb-0">@portfolio.Description</p>
					<div class="card-footer">
						<button 
							class="btn btn-primary" 
							data-bs-toggle="modal" 
							data-bs-target="#portfolioModal"
							@onclick="(() => SelectPortfolio(portfolio.Id))">
							Read More...
						</button>
					</div>
				</div>
			</div>
		}
	}

</div>
@if (selectedPortfolio != null)
{
<!-- Modal -->
<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@selectedPortfolio.Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @selectedPortfolio.Description
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
}


@code{
	Portfolio? selectedPortfolio = new Portfolio();

	void SelectPortfolio(int portfolioId)
	{
		selectedPortfolio = PortfolioService.GetPortfolios()?.First(p => p.Id == portfolioId);
	}
}


